HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
!/build.gradle

# System-specific files
.DS_Store

# Optional: Ignore application.properties if it contains sensitive data
application.properties

# Gradle wrapper and build files
gradle-wrapper.jar
.gradle/

# IntelliJ IDEA-specific files
.idea/

# 추적 제외할 파일
src/main/resources/META-INF/persistence.xml
src/main/resources/application.properties
